*{
  margin:0px;
  padding:0px;
  
}
.bgimg{
  height:131vh;
  width:98.5vw;
  position:absolute;
  top:1px;
  bottom:1px;
  z-index:-1;
  
    
}
.vector{
  position:absolute;
  top:100vh;
  left:92vw;
  
  cursor:pointer;
}

.vector:hover{
  animation:slide 1s 1;
}
@keyframes slide {
  from {
   left:91.9vw;
  }
  to{
    left:92vw;
  }
}
.welcome{
  position:absolute;
  top:1ovh;
 
  left:5vw
  
}
